$typl8-line-height: 1.65 !default;
$typl8-font-size: 112.5 !default; // % of base
$typl8-font-base: 16 * ($typl8-font-size/100) !default; // 18
$typl8-measure: $typl8-font-base * $typl8-line-height !default;
$typl8-typescale-unit: em !default;

// $Typescale
// -------------------------------------//
// Greek heading names and scale using base font-size
//
// typl8-tera                    117 = 18 × 6.5
// typl8-giga                     90 = 18 × 5
// typl8-mega                     72 = 18 × 4
// typl8-alpha                    60 = 18 × 3.3333
// typl8-beta                     48 = 18 × 2.6667
// typl8-gamma                    36 = 18 × 2
// typl8-delta                    24 = 18 × 1.3333
// typl8-epsilon                  21 = 18 × 1.1667
// typl8-zeta                     18 = 18 × 1

$typl8-scale: (
  // ratio: 1.2414 from http://www.modularscale.com/?16&px&38@4
  // https://stackoverflow.com/questions/6140430/what-are-the-most-common-font-sizes-for-h1-h6-tags
  typl8-mega: 38, // h1
  typl8-alpha: 30.61, 
  typl8-beta: 24.658,
  typl8-gamma: 19.863,
  typl8-delta: 12.889,
  typl8-zeta: 10.382, // h6
) !default;

$typl8-headings: (
  h1: typl8-mega,
  h2: typl8-alpha,
  h3: typl8-beta,
  h4: typl8-gamma,
  h5: typl8-delta,
  h6: typl8-zeta
) !default;
