@import "_normalize";

@import "_variables";
@import "_base";
@import "_header";
@import "_typography";
@import "sections/_index";



// buttons 
.button {
    width: 150px;
    border: none;
   
    padding: 12px 10px;
    transition: all .25s ease;
    cursor: pointer;
    @media screen and (min-width: $d){
       margin-top: 0;
    }

}

.button--primary {
    background-color: $primary-color;
    color: white;
}
